<mat-toolbar>
  <mat-toolbar-row>
    <span>Kalkulator wynagrodzeń:</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card *ngFor="let wag of wages">
  <mat-card-title><span>Wynagrodzenie netto: </span></mat-card-title>
  <mat-card-content>
    <span>{{wag.kwota}} PLN</span>
  </mat-card-content>
</mat-card>

<form [formGroup]="myForm" novalidate>
<mat-card >
  <mat-card-title><span>Wprowadź dzienną stawkę i kraj:</span></mat-card-title>
  <mat-card-content>
    <mat-form-field class="full-width">
      <input formControlName="kwota" matInput placeholder="Stawka dzienna" [(ngModel)]="newWage.kwota">
      <mat-error *ngIf="!myForm.get('kwota').valid && myForm.get('kwota').dirty" >
        Wprowadź poprawną <strong>wartość</strong>.
      </mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-content>
    <mat-form-field>

      <mat-select formControlName="waluta" matInput placeholder="Kraj" [(ngModel)]="newWage.waluta" >
        <mat-option value="PLN">Polska</mat-option>
        <mat-option value="EUR">Niemcy</mat-option>
        <mat-option value="GBP">Wielka Brytania</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-footer>
    <button [disabled]="myForm.invalid" mat-raised-button color="primary"  (click)="send()">Wyślij</button>
  </mat-card-footer>
</mat-card>
</form>






