/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";



.author {
  margin-left: 1em;
  font-weight: bold;
}

.full-width {
  width: 100%;
}
